<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Meta and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Application!</title>
    <link th:href="@{/images/favicon.ico}" rel="icon" type="image/x-icon" />
    <!-- Bootstrap and jQuery imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.css}" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <!-- Custom css and js -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/fetch_api.js}"></script>
</head>
<body>
<div class="container" id="main">
    <h1 class="center">#Diary App</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#addModal" id="add-button">Add Entry</button>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">New entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="date">Date: </label>
                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="text">Text: </label>
                            <textarea class="form-control" id="text" placeholder="Write some text..." rows="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="url">Url: </label>
                            <input type="url" class="form-control" id="url" placeholder="Enter image url">
                            <label for="image">Or Image: </label>
                            <input id="image" type="file" class="form-control-file border" placeholder="Upload image" accept="image/*">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit contact!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="edit-id" hidden>Id: </label>
                            <input type="text" class="form-control" id="edit-id" required hidden>
                        </div>
                        <div class="form-group">
                            <label for="edit-date">Date: </label>
                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" id="edit-date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-text">Text: </label>
                            <textarea class="form-control" id="edit-text" placeholder="Write some text..." rows="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="edit-url">Url: </label>
                            <input type="url" class="form-control" id="edit-url" placeholder="Enter image url">
                            <label for="edit-image">Or Image: </label>
                            <input id="edit-image" type="file" class="form-control-file border" placeholder="Upload image" accept="image/*">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Entries -->
    <div id="entries">

        <div class="entry card" th:each="entry : ${entries}">
            <div class="entry-header card-header">
                <div class="entry-id"><h2 th:text="${entry.id}"></h2></div>
                <div class="entry-date"><h2 th:text="${entry.date}"></h2></div>
                <div class="btn-group">
                    <button class="btn btn-sm" onclick="showEditEntry(this);">
                        <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                    </button>
                    <button class="close" onclick="deleteEntry(this);">x</button>
                </div>
            </div>
            <div class="entry-body card-body">
                <div class="entry-text card-text" th:text="${entry.text}">

                </div>
                <br>
                <div class="entry-image">
                    <img class="card-img-top" th:src="${entry.img}" alt="entry-image"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>