<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Application!</title>

    <!-- Bootstrap and jQuery imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

    <!-- Custom css and js -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fetch_api.js"></script>
</head>
<body>
<div class="container" id="main">
    <h1 class="center">#Diary App</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#addModal" id="add-button">Add Entry</button>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">New entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="date">Date: </label>
                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="text">Text: </label>
                            <textarea class="form-control" id="text" placeholder="Write some text..." rows="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Image: </label>
                            <input type="url" class="form-control" id="image" placeholder="Enter image url">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit contact!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="edit-id" hidden>Id: </label>
                            <input type="text" class="form-control" id="edit-id" required hidden>
                        </div>
                        <div class="form-group">
                            <label for="edit-date">Date: </label>
                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" id="edit-date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-text">Text: </label>
                            <textarea class="form-control" id="edit-text" placeholder="Write some text..." rows="6" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="image">Image: </label>
                            <input type="url" class="form-control" id="edit-image" placeholder="Enter image url">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Entries -->
    <div id="entries">

        <div class="entry card">
            <div class="entry-header card-header">
                <div class="entry-id"><h2>1</h2></div>
                <div class="entry-date"><h2>2020-08-10</h2></div>
                <div class="btn-group">
                    <button class="btn btn-sm" onclick="showEditEntry(this);">
                        <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                    </button>
                    <button class="close" onclick="deleteEntry(this);">x</button>
                </div>
            </div>
            <div class="entry-body card-body">
                <div class="entry-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus eget augue in ligula vulputate blandit sed et odio.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus vitae semper leo. Curabitur mattis porta metus ut pellentesque.
                    Pellentesque id posuere leo, sit amet finibus lectus.
                    Sed ac neque cursus, viverra diam non, sollicitudin orci. Vestibulum sit amet malesuada nunc.
                    Fusce vel blandit purus. Duis suscipit urna sed risus molestie ullamcorper.
                    Praesent non arcu vel risus dignissim sollicitudin. Nunc nec mollis enim, a facilisis ligula.
                    In enim purus, pharetra nec tellus eget, sodales porttitor est.
                    Cras tempor dui sit amet semper egestas. Sed quis libero lacinia, ultrices risus ac, posuere sapien.
                    Quisque fringilla ultricies accumsan. Quisque non fermentum velit.
                </div>
                <br>
                <div class="entry-image">
                    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/151AB/production/_111434468_gettyimages-1143489763.jpg" alt="entry-image"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="entry card">
            <div class="entry-header card-header">
                <div class="entry-id"><h2>2</h2></div>
                <div class="entry-date"><h2>2020-08-10</h2></div>
                <div class="btn-group">
                    <button class="btn btn-sm" onclick="showEditEntry(this);">
                        <span class="oi oi-pencil" title="pencil" aria-hidden="true"></span>
                    </button>
                    <button class="close" onclick="deleteEntry(this);">x</button>
                </div>
            </div>
            <div class="entry-body card-body">
                <div class="entry-text card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus eget augue in ligula vulputate blandit sed et odio.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus vitae semper leo. Curabitur mattis porta metus ut pellentesque.
                    Pellentesque id posuere leo, sit amet finibus lectus.
                    Sed ac neque cursus, viverra diam non, sollicitudin orci. Vestibulum sit amet malesuada nunc.
                    Fusce vel blandit purus. Duis suscipit urna sed risus molestie ullamcorper.
                    Praesent non arcu vel risus dignissim sollicitudin. Nunc nec mollis enim, a facilisis ligula.
                    In enim purus, pharetra nec tellus eget, sodales porttitor est.
                    Cras tempor dui sit amet semper egestas. Sed quis libero lacinia, ultrices risus ac, posuere sapien.
                    Quisque fringilla ultricies accumsan. Quisque non fermentum velit.
                </div>
                <br>
                <div class="entry-image">
                    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/151AB/production/_111434468_gettyimages-1143489763.jpg" alt="entry-image"/>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>
</body>
</html>